body,html{
    line-height: 1.8;
    font-family: 'Roboto',sans-serif;
    color: #555e58;
    text-transform: capitalize;
    font-weight: 400;
    margin:0px;
    padding:0px;
}

/*material icon font-style*/
 
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
      url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
      url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
  }
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }
/*material icons end*/
h1,h2,h3,h4,h5,h6, .h1, .h2, .h3, .h4{
    font-weight: 400;
    line-height: 1.5em;
}
p{
    font-size: 15px;
    margin: 12px 0 0;
    line-height: 24px;
}
a{
    color:#333;
    font-weight: 400;
}

button:focus{
    box-shadow: none;
    outline: none;
    border: none;
}
button{
    cursor: pointer;
}
ul, ol{
    padding: 0px;
    margin: 0px;
    list-style: none;
}
a,a:hover,a:focus{
    color: #333;
    text-decoration: none;
    transition: all 0.3s;
}
.wrapper{
    position: relative;
    width: 100%;
    overflow: auto;
}
/*sidebar style start*/
#sidebar{
    position: fixed;
    height: 100vh!important;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 11;
    width: 260px;
    overflow: auto;
    transition: all 0.3s;
    background-color: #fff;
    box-shadow: 0 0 30px 0 rgba(200 200 200 /20%),
   
    
    }
    @media only screen and (min-width:992px){

        #sidebar.active{
           left: -260px;
            height: 100%!important;
            position: absolute!important;
            overflow: visible!important;
            top: 0;
            z-index: 666;
            float: left!important;
            bottom: 0!important;
        }
        
    #Content{
        width: calc(100% - 260px);
        position: relative;
        float: right;
        transition: all 0.3s;
       
    }
    
    #Content.active{
       width: 100%;
     }
    }
    #sidebar::-webkit-scrollbar{
        width:5px;
        border-radius: 10px;
        background-color: #eee;
        display: none;
    }
    #sidebar::-webkit-scrollbar-thumbs{
        width:5px;
        border-radius: 10px;
        background-color: #333;
    }
   
    #sidebar:hover::-webkit-scrollbar-thumbs{
        display: block;
    } 
    #sidebar:hover ::-webkit-scrollbar{
        display: block;
    }
    #sidebar .sidebar-header{
        padding: 20px;
        background-color: #fff;
        border-bottom: 1px solid #eee;
    } 
    .sidebar-header h3{
            color: #333;
            font-size: 17px;
            margin: 0px;
        text-transform: uppercase;
        transition: all 0.5 ease;
        font-weight: 600;
        }
        .sidebar-header h3 img{
            width: 45px;
            margin-right: 10px;
         
        }
        #sidebar ul li{
            padding: 2px 0px;
        } 
        #sidebar ul li.active> a{
            color: #333;
            background-color: #DBE5FD;
            }
     #sidebar ul li.active>a i{
                color: #4c7cf3;
              
        }
        #sidebar ul li a:hover{
            color: #4c7cf3;
            background-color: #DBE5FD;
            }
 .dropdown-toggle::after{
                position: absolute;
                right: 22px;
                top: 18px;
                color:#777777;
     }
            
 #sidebar ul li.dropdown{
            position: sticky;
  }
  #sidebar ul.component{
    padding: 20px 0px;
}
#sidebar ul li a{
    padding: 5px 10px 5px 20px;
    line-height: 30px;
    font-size: 15px;
    position: relative;
    font-weight: 400;
    display: block;
    color: #777777;
    text-transform: capitalize;
}
 #sidebar ul li a i {
        position: relative;
       margin-right:10px;
       top: 6px;
    }
/*--sidebar design end*/
/*main content navbardesign start*/
/* Style for preloader container */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  /* Style for the preloader image */
  .preloader img {
    animation: animation__wobble 1s infinite;
    border-radius: 50%;
  }
  /* Animation keyframes */
@keyframes animation__wobble {
    0% { transform: translateX(0%); }
    15% { transform: translateX(-25%) rotate(-5deg); }
    30% { transform: translateX(20%) rotate(3deg); }
    45% { transform: translateX(-15%) rotate(-3deg); }
    60% { transform: translateX(10%) rotate(2deg); }
    75% { transform: translateX(-5%) rotate(-1deg); }
    100% { transform: translateX(0%); }
  }



  @media(max-width:768px){
    .xp-searchbar{
        margin-top: 20px;
    }
}
 
  
#Content{
    position: relative;
    transition: all 0.5s;
    background-attachment: #f9fafc;
}
.main-content{
    padding:10px 20px 0px 20px;
    position: relative;
    width: 100%;
}
.top-navbar{
    width: 100%;
    z-index: 9;
    position: relative;
    padding: 15px 30px;
    background-color: #353b48;
    height: 200px;
  
}
.xd-topbar{
    width: 100%;
    position: relative;
}
.xd-topbar .xp-searchbar input[type="search"]{
      background-color: #4a5263;
      color: #fff;
      padding-left: 20px;
      border: none;
      border-radius: 50px 0px 0px 50px;
}
.input-group-append{
    margin-left: -1px;
}
.xp-searchbar .btn{
    background-color: #4a5263;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    border-radius: 0px 50px 50px 0;
    padding: 4px 15px;
}
.xp-breadcrumbbar {
  font-size: 20px;
  color: #fff;
  margin-bottom: 0;
  margin-top: 0;
}
.breadcrumb {
    font-size: 20px;
    color: #fff;
    display:inline-block;
  }
  .form-control float-right{
    width:50px;
  }

  .month-calendar {
    position: absolute;
    bottom: 0;
    left: 0;
    width:900px;
    display: flex;
    flex-wrap: nowrap;
    background-color: #fff;
    height: 280px;
    color: #2e2c2c;
  margin-top: 38px;
  margin-left: 0px;
    z-index: 9999; /* Set a higher z-index value */
  }
  
  .ui-datepicker-group {
    flex: 1 0 50%;
    width: 50%;
    box-sizing: border-box;
    padding-right: 10px;
  }
  
  .ui-datepicker-group-last .ui-datepicker-calendar {
    border-left: none;
  }
  .form-group {
   margin-right:60%;
   padding-top:1px;
   width:300px;
  }

  .topbarText{
    color: #fff;
  }
  
  .popup-menu {
    display: none;
    position: absolute;
    top: 100px; /* Adjust the positioning as needed */
    left: 0;
    color: #fff;
    background-color: #4a5263;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 9999; /* Ensure the popup is positioned above other elements */
  }
  
  .date-picker.active .popup-menu {
    display: block;
  }
  
  .close-icon {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
  }
  
  
.breadcrumb{
    display: inline-flex;
    background: transparent;
    padding: 0px 0 0;
    color:#fff;
}
.breadcrumb .breadcrumb-item a{
    color: #777777;
}
 .breadcrumb-item .active{
    color: #6c757d;
}
.breadcrumb+.breadcrumb-item{
    padding-left: .5rem;
}
.main-content{
    padding: 30px 30px 0px 30px;
}
.navbar{
    background-color: #353B48;
    color: #fff;
}
.navbar-brand{
    color: #fff;
}
.navbar button{
    background-color: transparent;
    border: none;
}
.navbar button span{
    color: #fff;
}
.xp-menubar{
    border-radius: 50%;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    margin-right: 20px;
    border: none;
    color: #fff;
    background-color: rgba(0,0,0,0.09);
}
.xp-menubar span{
    margin: 9px;
    padding: 0px;
    transform: rotate(90deg);
}
.navbar-nav >li.active{
    color: #fff;
    border-radius: 4px;
    background-color: rgba(0,0,0,0.08);
}
.navbar-nav >li >a{
    color: #fff;
}
.navbar .notification{
    position: absolute;
    top: 2px;
    right: 3px;
    display: block;
    font-size: 9px;
    border: 0;
    background-color: #2bcd72;
    min-width: 15px;
    text-align: center;
    padding: 1px 5px;
    height: 15px;
    border-radius: 2px;
    line-height: 14px;
}
.navbar-nav >li.show .dropdown-menu{
    transform: translate3d(0,0,0);
    opacity: 1;
    display: block;
    visibility: visible;
}
.dropdown-menu{
    border: o;
    box-shadow: 0px 2px 5px 0 rgba(0 0 0 /26%);
    transform: translate3d(0, -20px,0);
    visibility: hidden;
    position: absolute!important;
    transition: all 150ms linear;
    display: block;
    min-width: 15rem;
    right: 0;
    left: auto;
    opacity: 0;
}
.small-menu{
    min-width: 10rem;
}
.dropdown-menu li >a {
    font-size: 13px;
    padding: 10px 20px;
    margin: 0px 5px;
    border-radius: 2px;
    font-weight: 400;
    transition: all 150ms linear;
}
.dropdown-menu li >a .material-icons{
    position: relative;
    top: 3px;
    color: #777;
    margin-right: 6px;
    font-size: 16px;
}

.navbar-nav > .active > a:focus{
    color: #fff;
    background-color: rgba(0, 0, 0, 0.08);
}
.navbar-nav li a{
    position: relative;
    display: block;
    padding: 4px 10px!important;
}
.nav-item .nav-link .material-icons{
    position: relative;
    top: 10px;
    font-size: 19px;
}
.xp-user-live{
    position: absolute;
    bottom: 5px;
    right: 9px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid #353b48;
    background-color: #4c7cf3;
}
/*main content inner card design start*/
.card{
    margin: 10px 0px;
}
.card{
    border-radius: 10px!important;
}
.card{
    display: inline-block;
    position: relative;
    border: none;
    width: 100%;
    box-shadow:  0 1px 2px rgb(0 0 0/8%);
}
.card-stats .card-header{
    float: left;
    text-align: center;
}
.card.card-header{
    padding:15px 20px 0;
    z-index: 3;
    border-bottom: 0px!important;
    background-color: #fff;
    border-radius: none;
}
.card .card-footer .stats .material-icons{
    position: relative;
    top: 4px;
    font-size: 16px;
}
.card-stats .card-header span{
    font-size: 36px;
    line-height: 56px;
    width: 56px;
    height: 56px;
}
.icon.icon-warning{
    color: #ff9800;
}
.icon.icon-rose{
    color: #e91e63;
}
.icon.icon-sucess{
    color: #4caf50;
}
.icon.icon-info{
    color: #00bcdcd4;
}
.card .card-footer{
    margin: 0 7px 0px;
    padding-top: 10px;
    background-color: #fff;
    border-top: 1px solid #eeeeee;
}
.text-info{
    color:#03A9F4!important;
}
.card-stats .card-content{
    text-align: right;
    padding-top: 10px;
}
.card .card-content{
    padding: 15px 20px;
    position: relative;

}
.card .card-content.category{
    margin-bottom: 0;
}
.card .category:not([class="text-"]) {
    color: #555555;
    font-size: 14px;
    font-weight: 400;
}

.card.card-title:not(.card-calender.card-title){
    margin-top: 0;
}
.card.card-footer.stats{
    line-height: 22px;
    color:#555555;
    font-size: 15px;
}
.card.card-footer div{
display: inline-block;
}
.card-header-text {
    background-color: #353b48;
    color: #fff;
}
.card.card-header-text h4{
    margin-top: 0;
    margin-bottom: 3px;
    font-size: 19px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;

}
 .card-content .table >thead >tr >th{
    border-bottom: 1px;
    font-size: 16px;
    font-weight: 400;
}
.card.card-content{
    padding: 15px 20px;
    position: relative;
}
.steamline.sl-primary{
    border-left-color: #188ae2;
}
.steamline  .sl-item{
    position: relative;
    padding-bottom: 12px;
    border-left: 1px solid #ccc;
    left: -12px;
}
.steamline .sl-item:before{
    content: "";
    position: absolute;
    left: -8px;
    top: 14;
    background-color: #ccc;
    width: 12px;
    height: 12px;
    border-radius: 100%;
}
.steamline .sl-primary:before,.stemline.sl-primary:last-child:after{
    background-color: #188ae2;
}
.steamline .sl-danger:before,.stemline.sl-danger:last-child:after{
    background-color: #ff5b5b;
}
.steamline.sl-success{
    border-left-color: #10c469;
}
.steamline .sl-success:before,.steamline.sl-success:last-child:after{
    background-color: #10c469;
}

.steamline.sl-warning{
    border-left-color: #f9c851;
}

.steamline .sl-warning:before,.steamline.sl-warning:last-child:after{
    background-color: #f9c851;
}
.steamline.sl-danger{
    border-left-color: #ff5b5b;
}
.steamline .sl-content{
   margin-left: 14px;
}
.steamline.sl-item.text-muted{
    color: inherit;
    opacity: 0.6;
    font-size: 12px;
}
.steamline .sl-item p{
    font-size: 14px;
}
/* CSS */
.occupy-full {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


 /* Custom CSS to make icons fill the card header */
 .card-header .icon {
    font-size: 2.5rem; /* Adjust the font-size as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  
  .content-container {
    display: none; /* Initially hide the content */
  } 

/*main comtent inner card design end*/

/*navbardesign end*/
/*table design start*/
.table-wrapper{
    background-color: #fff;
    padding: 20px 25px;
    margin-top: 10px 0px 30px 0px;
    width: 100%;
    overflow: auto;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.table-title{
    background: #353b48;
    color: #fff;
    padding: 10px 30px;
    margin: -20px -15px 10px;
    border-radius: 0px 0px 0 0;
}
.table-title h2{
    margin: 5px 0 0;
    font-size: 17px;
}
.table-title .btn-group{
    float: right;
}
.table-title .btn{
    color: #fff;
    float: right;
    font-size: 13px;
    border: none;
    min-width: 50px;
    border: none;
    outline: none!important;
    margin-left: 10px;
}
.table-title .btn i{
    float: left;
    font-size: 21px;
    margin-right: 5px;
}
.table-title .btn span{
    float: left;
    margin-top: 2px;
}
table.table tr th, table.table tr td{
    border-color: #e9e9e9;
    padding: 8px 15px;
    font-size: 14px;
    font-weight: 400;
    vertical-align: middle;
}
table.table tr th:first-child{
    width: 60px;
}
table.table tr th:last-child{
    width: 100px;
}
table.table-stripped tbody tr:nth-of-type(odd){
    background-color: #fcfcfc;
}
table.table-stripped table.hover tbody tr:hover(odd){
    background-color: #f5f5f5;
}
table.table th i{
    font-size: 17px;
    margin: 6px 5px;
    cursor: pointer;
}
table.table td:last-child{
    opacity: 0.9;
    font-size: 22px;
    margin: 0px 5px;
}
table.table td a{
    font-weight: bold;
    color: #566787;
    display: inline-block;
    text-decoration: none;
    outline: none!important;
}
table.table td a:hover{
    color: #2196f3;
}
.edit{
    color: #FFC107;
}
.delete{
    color: #F44336;
}
table.table td i{
    font-size: 19px;
}
table.table.avatar{
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
}
.pagination{
    float: right;
    margin: 0 o 5px;
}
.pagination li a{
    border: none;
    font-size: 13px;
    min-width: 30px;
    min-height: 30px;
    color: #999;
    margin: 0 2px;
    line-height: 30px;
    border-radius: 2px!important;
    text-align: center;
    padding: 0 6px;
}
.pagination li a:hover{
    color: #666;
}
.pagination li.disabled i{
    color: #ccc;
}
.pagination li i{
font-size: 16px;
padding-top: 6px;
}
.hint-text{
    float: left;
    margin-top: 10px;
    font-size: 13px;
}
.custom-checkbox{
    position: relative;
}
.custom-checkbox input[type="checkbox"]{
    opacity: 0;
    position: absolute;
    margin: 5px 0 0 3px;
    z-index: 9;
}
.custom-checkbox label::before{
    width: 18px;
    height: 18px;
}
.custom-checkbox label:after{
    content: "";
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    background-color: #fff;
    border: 1px solid #bbb;
    border-radius: 2px;
    box-sizing: border-box;
    z-index: 2;
}
.custom-checkbox input[type="checkbox"]:checked+label:after{
    content: "";
    position: absolute;
    left: 6px;
    top: 3px;
    width: 6px;
    height: 11px;
    border: solid #000;
    border-width: 0px 3px 3px 0;
    transform: inherit;
    z-index: 3;
    transform: rotate(45deg);
}
.custom-checkbox input[type="checkbox"]:checked+label:before{
    border-color: #03A9F4;
    background-color: #03A9F4;
}
.custom-checkbox input[type="checkbox"]:checked+label:after{
    border-color: #fff;
}
.custom-checkbox input[type="checkbox"]:disabled+label:before{
   color: #b8b8b8;
   cursor: auto;
   box-shadow: none;
   background-color: #ddd;
}
/*table design end*/
/*model design start*/
.modal .modal-dialog{
    max-width: 400px;
}
.modal .modal-header, .modal .modal-body,.modal .modal-footer{
    padding: 20px 30px;
    background-color: #fff;
}
.modal .mode-content{
 border-radius: 3px;
}
.modal .modal-footer{
    background: #ecf0f1;
    border-radius: 0 0 3px 3px;
}
.modal .modal-title{
    display: inline-block;
}
.modal.form-control{
    border-radius: 2px;
    box-shadow: none;
    border-color: #dddddd;
}
.modal textarea.form-control{
    resize: vertical;
}
.modal .btn{
    border-radius: 2px;
    min-width: 100px;
}
.madal form label{
      font-weight: normal;
}
.mode-content {
    background-color: #fff;
}
/* .date_picker {
    text-align: center;
    background-image: url(image/ui-icon-calendar.png);
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 18px;
    width: 78px;
  } */


/*modaldesign end*/
/*footer design start*/
 .footer{
    background-color: #353b48;
    color: #fff;
    text-align:center;
    padding:10px 30px;
    position: relative;
    width:100%;
}

#sidebar.show nav, .body-overlay.show-nav{
    transform: translateX(0%);
    opacity: 1;
    display: block;
    visibility: visible;
    z-index: 15;
}
/* CSS for the menu bar */

.menu-bar {
    cursor: pointer;
    padding: 15px;
    background-color: #555;
    color: #fff;
}

.menu-bar:hover {
    background-color: #444;
}

.menu-bar .material-icons {
    font-size: 24px;
}

/*main content navbardesign -end*/

/*media queries*/
/* CSS for small screens (mobile devices) */
@media (max-width:867px) {
    .menu-bar {
        display: block; /* Show the menu bar on small screens */
        /* Add styles for the menu bar icon on small screens */
        /* ... */
    }
  

    /* You can also adjust the margin or padding here to create space between the logo and menu bar icon if needed */
    .xd-topbar {
        /* Example: add some right margin to create space between logo and menu bar icon */
        margin-right: 10px;
    }
}



@media only screen and(min-width:992px){
    #sidebar.active{
        width: 80px;
        height: 100%!important;
        position: absolute!important;
        overflow: visible!important;
        top: 0;
        z-index: 666;
        float: left!important;
        bottom: 0!important;
    }
    #sidebar.active .sidebar-header h3 span{
        display: none;
        transition: all0.5s ease;
    }
    .sidebar.acive ul li a span{
        display: none;
        transition: all 0.5s ease;
    }
    #sidebar.active.dropdown-toggle::after{
        display: none;
        transition: all 0.5 ease;
    }
    #content{
        width: calc(100%-260px);
        position: relative;
        float: right;
        transition: all 0.3s;
        background-color: #EEEEEE;
    }
     #content.active{
        width: calc(100%-80px);
     }
#sidebar.active.menu{
    position: absolute;
    left: 81px;
    background-color: white;
    width: 180px;
    height: auto;
    margin: 5px 0;
    top: 0;
    border: 1px solid #dcd9d9;
    z-index: 4;
}
.dropdown-menu{
    border: 0;
    box-shadow:0 2px 5px 0 rgb(0 0 0 /26%);
    transition: translate3d(0,-20px,0);
    visibility: hidden;
    transition:all 150ms linear;
    display: block;
    min-width:15rem;
    right: 0;
    left: auto;
    opacity: 0;
}
} 
@media only screen and (max-width:992px) {
    #sidebar{
        position: fixed;
        top: 0;
        bottom: 0;
        z-index: 10;
        width: 260px;
        transform: translate(-100%);
        transition: all 150ms linear;
        box-shadow: none!important;

    }
    .body-overlay{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: none;
        visibility: hidden;
        opacity: 0;
        z-index: 3;
        transition: all 150ms linear;
        background-color: rgba(0,0,0,0.5);
    }

}
/* Hide the menu bar on larger screens */
@media (min-width: 768px) {
    .menu-bar {
        display: none;
    }
    .breadcrumb-date {
        margin-top: 0px;
    }
}
  

/* Apply styles for screens from 577px to 1199px width (medium devices) */
@media (min-width: 577px) and (max-width: 1199px) {
    .breadcrumb-date {
        margin-top: 10px;
    }
    .card .card-stats{
        margin-top: 10px; 
    }
    .form-group label {
        margin-top: 5px;
        margin-left: 0px;
        font-size: 15px; /* Add padding to the top of the label */
    }
    
}

/* Apply styles for screens up to 576px width (small devices) */
@media (max-width: 576px) {
    .breadcrumb-date {
        margin-top: 0px;
    }
    
    .d-md-none {
        display: none;
    }
    .card .card-stats{
        margin-top: 10px; 
    }
    .form-group label {
        margin-top: 5px; 
        margin-left: 0px;
        font-size: 15px;/* Add padding to the top of the label */
    }
    
}




/*media query ends*/
/*footer design end*/
